@import url("../themes.css");

.option {
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-primary);
    background-color: var(--background);
}

.selected-option{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: var(--background);
    background-color: var(--text-primary);
    border-radius: 5rem;
}