@import url('../../themes.css');

.skills-root{
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/backgrounds/skills.jpg");
    background-position: bottom;
}

.skills-container{
    border-radius: 5rem;
    box-shadow: 1px 1px 8px var(--background);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    color: var(--text-primary);
    font-size: larger;
    max-width: 70%;
}

@media screen and (max-width:600px){
    .skills-container{
        text-align: justify;
        padding: 1.5rem;
    }
    .skills-root{
        padding: 0;
    }
    .skills-grid{
        margin-left: 1rem;
    }
}

@media screen and (max-width:400px) {
    .skills-grid{
        margin-left: 0.65rem;
    }
}

.skills-container > h1{
    font-size: 30px;
    margin: 0;
}

.skills-grid{
    padding: 1rem;
}