.arrow-btn{
    width: 3rem;
    border-radius: 10rem;
    padding: 1rem;
    background-color: lightblue;
    box-shadow: 1px 1px 10px black;
}

@media screen and (max-width:600px){
    .arrow-btn{
        width: 1rem;
        padding: 0.5rem;
    }
}