@import url("../themes.css");

.contact-root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60rem;
    background-image: url("../assets/backgrounds/contact.jpg");
    background-size: cover;
}

.contact-form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    font-size: larger;
    justify-content: center;
    background-color: var(--background);
    color: var(--text-primary);
    border-radius: 1.5rem;
}

input{
    width: 25rem;
}

.contact-form > div{
    gap: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 25rem;
}
.contact-form > button{
    font-size: larger;
    background-color: var(--text-primary);
    color: var(--background);
    border-radius: 5rem;
}
.mail-content{
    width: 25rem;
    min-width: 25rem;
    max-width: 25rem;
    height: 10rem;
    min-height: 10rem;
    font-family: "main-font";
}

@media screen and (max-width:600px) {
    
    .contact-form{
        padding: 1rem;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    
    .contact-send{
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 5rem;
        background-color: var(--text-primary);
        color: var(--background);
    }
    
    .contact-form > div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    input{
        max-width: 15rem;
    }
    .mail-content{
        min-width: 10rem;
        max-width: 15rem;
    }
    .button{
        width: 100%;
    }
}