@import url('../themes.css');

.header-root{
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 10px var(--background);
    width: 100%;
    top: 0;
    background-color: var(--background);
    color: var(--text-primary);
    position: fixed;
}

.header-menu{
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-menu > * {
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-primary);
}

.theme-switch {
    width: 2rem;
}