@import url("../themes.css");
.menu-button{
    width: 2rem;
}


.menu-root{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items:end;
}
.menu-options > * {
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-primary);
}

.menu-options{
    position:fixed;
    margin-top: 5.9rem;
    padding: 1rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    color: var(--text-primary);
}