body{
  font-family: "main-font";
  margin: 0;
  padding: 0;
}

#root{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "main-font";
  src: url("./assets/fonts/open_sans/OpenSans-Regular.ttf");
}